<section class="c-curriculum">
    <div class="c-curriculum__card d-flex justify-content-between">

        <div class="c-curriculum__text">
            <h2 class="c-curriculum__title">Estudios</h2>

            <h4 class="c-curriculum__title2">Bootcamp FullStack Developer</h4>
            <p class="c-curriculum__text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                scelerisque, risus et condimentum hendrerit, tortor velit rutrum arcu, nec consectetur nisl enim non
                dolor.</p>

            <h4 class="c-curriculum__title2">Técnico Superior Desarrollo de Aplicaciones Web</h4>
            <p class="c-curriculum__text-content">Nunc eros nibh, lacinia a lacus at, auctor blandit velit. Praesent
                gravida
                aliquam enim, ac fermentum mauris vehicula sed. Vivamus orci turpis, tristique ac sapien ultrices,
                cursus vestibulum nulla. Vestibulum ornare finibus ante, id suscipit urna.</p>

            <h4 class="c-curriculum__title2">Técnico Superior Fotografía</h4>
            <p class="c-curriculum__text-content">Donec condimentum ultricies imperdiet. Vivamus sodales massa eget
                convallis varius. Duis pulvinar sem quis tortor porttitor, ac elementum ante feugiat. </p>

            <h4 class="c-curriculum__title2">Bellas Artes</h4>
            <p class="c-curriculum__text-content">Donec condimentum ultricies imperdiet. Vivamus sodales massa eget
                convallis varius. Duis pulvinar sem quis tortor porttitor, ac elementum ante feugiat. </p>


        </div>

    </div>

</section>