@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.c-curriculum {
  width: 100%;

  &__card {
    max-width: 1000px;
    background-color: var(--color-primary);
    padding: 70px 70px 30px 70px;
    margin: 120px 80px 50px 80px;
    box-shadow: 0px 4px 4px var(--transparent-black);
    border-radius: 10px;

    @include media-breakpoint-down(lg) {
      height: 100vh;
      padding: 120px 70px 30px 70px;
      margin: 0px;
      border-radius: 0px;
    }

    @include media-breakpoint-down(md) {
      padding: 120px 35px 30px 35px;
    }
  }

  &__text-block {
  }

  &__logo {
    height: 70px;
    width: 70px;
    margin: 0 10px;

    @include media-breakpoint-down(lg) {
      height: 50px;
      width: 50px;
      margin: 0 7px;
    }
  }

  &__logos-block {
    margin-top: 50px;
  }
}
