@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.b-icons {
  &__menu {
    position: absolute;
    left: 50px;
    font-size: 30px;

    &--active {
      color: var(--color-primary-active);
    }
  }

  &__github {
    font-size: 18px;
    margin-right: 10px;
  }

  &__gitlab {
    font-size: 18px;
    margin-right: 10px;
  }

  &__linkedin {
    font-size: 20px;

    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }
  }

  &__skin {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
      color: var(--color-primary-active);
    }
  }

  &__big {
    font-size: 40px;
    margin: 25px;

    @include media-breakpoint-down(md) {
      font-size: 30px;
      margin: 10px;
    }
  }

  &__skin-dark {
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      color: var(--color-gray);
    }
  }
}
