.b-text {
  color: var(--color-text);

  &--title-home {
    font-family: "quentin";
    font-size: 150px;

    @include media-breakpoint-down(lg) {
      font-size: 100px;
    }

    @include media-breakpoint-down(md) {
      font-size: 80px;
    }
  }

  &--menu {
    color: var(--color-primary);
    font-size: 22px;
    font-family: "clemente";
  }

  &--menu-mobile {
    color: var(--color-primary);
    font-size: 36px;
    font-family: "clemente";
    margin-top: 50px;
  }

  &--title {
    margin: 0;
    font-size: 34px;
    font-family: "generica";
  }

  &--title2 {
    font-size: 20px;
  }

  &--title3 {
    font-size: 16px;
  }

  &--paragraph {
    font-size: 20px;
    text-align: justify;
  }

  &--center {
    text-align: center;
  }

  &--white {
    color: var(--color-primary);
  }
}
