<section class="c-porfolio">
    <div class="c-porfolio__card d-flex justify-content-between flex-column">
        <div class="c-porfolio__gallery d-flex justify-content-center flex-wrap">
            <figure *ngFor="let project of projects"
                class="c-porfolio__project-box d-flex justify-content-center flex-column">
                <div *ngIf="project.type !== 'videogame' && project.type !== 'app'"
                    class="d-flex justify-content-between">
                    <div class="c-porfolio__img-container col-6">
                        <img class="c-porfolio__img" src="{{project.imgUrl}}" alt="{{project.name}} image">
                    </div>
                    <div>
                        <figcaption class="b-text b-text--title2 b-text--center">
                            <h2>{{project.name}}</h2>
                        </figcaption>
                    </div>


                </div>
            </figure>
        </div>
    </div>
</section>