<section class="c-about d-flex flex-column align-items-center">
    <div class="c-about__card d-flex justify-content-between">
        <div class="c-about__img-container col-12 col-lg-6">
            <img class="c-about__img" src="./assets/images/cm-about.jpg" alt="image">
        </div>
        <div class="c-about__text-container d-flex flex-column col-12 col-lg-6">
            <h2 class=" b-text b-text--title">Sobre mi</h2>
            <p class="b-text b-text--paragraph">Mi nombre es César Meliá, soy un Desarrollador Web con mucha motivación
                y pasión por mi trabajo.</p>
            <p class="b-text b-text--paragraph">Desde bien temprano, he sentido inquietud por la tecnología y por
                entender cómo funcionan las cosas que nos rodean. Tuve la suerte de disponer de un ordenador en casa
                desde muy joven gracias a mi padre, ya que era profesor de tecnología informática y le gustaba trastear
                con todo lo que iba apareciendo en el mercado. Yo, sin darme cuenta, me iba enganchando a este mundo
                regido por ceros y unos.</p>

            <p class="b-text b-text--paragraph">Con los años fui aprendiendo a manejar diferentes programas, a utilizar
                internet como fuente de información y a crear mis primeras “paginas web” con Dreamweaver y Wordpress. No
                obstante, no me dí cuenta de que realmente esta era mi vocación hasta más tarde. Para mí aprender este
                tipo de cosas era un hobby, una forma de evadirme de mi trabajo diario como preparador en un almacén…
            </p>

            <p class="b-text b-text--paragraph">Mi principal objetivo a día de hoy es seguir creciendo como programador
                y sumar todo el conocimiento y experiencia que me sea posible. Para ello, he enfocado todos mis
                esfuerzos en orientar mi vida laboral hacia este sector, y he apostado por mi futuro para poder ejercer
                en un trabajo que realmente me apasiona. </p>



        </div>

    </div>

</section>