@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.c-header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 999;
  background-color: var(--color-transparent-black);
  backdrop-filter: saturate(180%) blur(20px);

  &__items {
    width: 100%;
    max-width: 1400px;
  }

  &__nav {
    width: 900px;

    @include media-breakpoint-down(xl) {
      width: 750px;
    }

    @include media-breakpoint-down(lg) {
      width: auto;
    }
  }

  &__logo {
    font-size: 70px;
    margin: 0 50px;
  }

  &__link {
    text-decoration: none;
    margin: 0 20px;

    &--active {
      color: var(--color-primary-active);
    }

    &:hover {
      color: var(--color-primary-active);
    }
  }

  &__social {
    position: absolute;
    right: 50px;
  }
}
