<header class="c-header d-flex justify-content-center align-items-center">
    <div class="c-header__items d-flex justify-content-center align-items-center">
        <span class="b-icons__menu b-icons__skin d-block d-lg-none icon-menu"></span>

        <nav class="c-header__nav d-flex justify-content-between align-items-center">
            <a class="b-text b-text--menu c-header__link d-none d-lg-block" routerLink="/about"
                routerLinkActive="c-header__link--active">Sobre
                mi</a>
            <a class="b-text b-text--menu c-header__link d-none d-lg-block" routerLink="/curriculum"
                routerLinkActive="c-header__link--active">Curriculum</a>
            <a class="b-text b-text--menu c-header__link " routerLink="/" routerLinkActiveOptions="{exact:true}">
                <span class="c-header__logo icon-logo"></span>
            </a>
            <a class="b-text b-text--menu c-header__link d-none d-lg-block" routerLink="/porfolio"
                routerLinkActive="c-header__link--active">Porfolio</a>
            <a class="b-text b-text--menu c-header__link d-none d-lg-block" routerLink="/contact"
                routerLinkActive="c-header__link--active">Contacto</a>
        </nav>

        <div class="c-header__social d-flex justify-conetent-center align-items-center">
            <a href="https://github.com/Cesar-Melia" target="_blank">
                <span class="b-icons__github b-icons__skin icon-github d-none d-lg-block"></span>
            </a>
            <a href="https://gitlab.com/Cesar-Melia" target="_blank">
                <span class="b-icons__gitlab b-icons__skin icon-gitlab d-none d-lg-block"></span>
            </a>
            <a href="https://www.linkedin.com/in/cesar-melia-herraiz" target="_blank">
                <span class="b-icons__linkedin b-icons__skin icon-linkedin2"></span>
            </a>
        </div>


    </div>


</header>