@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.c-header {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0px;
  z-index: 999;
  background-color: var(--color-transparent-black);
  backdrop-filter: saturate(180%) blur(20px);

  &__items {
    width: 100%;
    max-width: 1400px;
  }
  @include media-breakpoint-down(xl) {
  }

  &__nav {
    max-width: 1200px;
  }

  &__logo {
    height: 50px;
    margin: 0 50px;
  }

  &__link {
    text-decoration: none;
    color: var(--color-primary);
    margin: 0 20px;
    font-size: 22px;

    &--active {
      color: var(--color-primary-active);
    }

    &:hover {
      color: var(--color-primary-active);
    }
  }

  &__social {
    margin-right: 20px;
  }
}
