@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.c-home {
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);

  &__logo {
    font-size: 400px;
    color: var(--color-text);

    @include media-breakpoint-down(lg) {
      font-size: 300px;
    }

    @include media-breakpoint-down(md) {
      font-size: 200px;
    }
  }

  &__logo-block {
    margin: 100px 50px 0 50px;
  }

  &__text-block {
    text-align: center;

    @include media-breakpoint-down(md) {
      margin: 0 20px;
    }
  }
}
