@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.c-porfolio {
  width: 100%;

  &__card {
    max-width: 1000px;
    background-color: var(--color-primary);
    padding: 70px 70px 30px 70px;
    margin: 120px 80px 20px 80px;
    box-shadow: 0px 4px 4px var(--transparent-black);
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      padding: 70px 35px 30px 35px;
      margin: 120px 40px 20px 40px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__gallery {
  }

  &__project-box {
    margin: 0;
  }

  &__project-container {
    margin: 20px;
  }

  &__img {
    width: 100%;
    // opacity: 0.9;
  }

  &__img-container {
    margin-bottom: -4px;
    padding: 0;
    position: relative;

    &:hover {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.85);
        &:hover {
          &__img {
            opacity: 0;
          }
        }
      }

      .c-porfolio__text-container {
        display: block;
      }
    }
  }

  &__text-container {
    display: none;
    position: absolute;
    top: 45%;
    width: 100%;
    color: var(--color-primary-active);
  }
}
