@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.c-porfolio {
  width: 100%;

  &__card {
    max-width: 1000px;
    background-color: var(--color-primary);
    padding: 70px 70px 30px 70px;
    margin: 120px 80px 50px 80px;
    box-shadow: 0px 4px 4px var(--transparent-black);
    border-radius: 10px;

    @include media-breakpoint-down(lg) {
      flex-direction: column-reverse;
      padding: 120px 70px 30px 70px;
      margin: 0px;
      border-radius: 0px;
    }

    @include media-breakpoint-down(md) {
      padding: 120px 35px 30px 35px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__gallery {
  }

  &__project-box {
    margin: 0;
  }

  &__project-container {
    margin: 20px;
  }

  &__img {
    width: 100%;
    // object-fit: cover;
    // object-position: center;
    border: 1px solid var(--color-lighter-gray);
  }

  &__img-container {
    padding: 0;
    position: relative;

    &:hover {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 3px;
        left: 0;
        right: -2px;
        background: rgba(0, 0, 0, 0.85);

        &:hover {
          &__img {
            opacity: 0;
          }
        }
      }

      .c-porfolio__text-container {
        display: block;
      }
    }
  }

  &__text-container {
    display: none;
    width: 100%;
    color: var(--color-primary-active);

    &--title {
      position: relative;
    }
  }

  &__atributes {
    margin-top: 10px;
  }

  &__fig-title {
    position: absolute;
    top: 45%;
    width: 100%;
    color: var(--color-primary);

    @include media-breakpoint-down(md) {
      font-size: 24px;
    }
  }

  &__fig-tecnologies {
    position: absolute;
    top: 75%;
    width: 100%;
    color: var(--color-primary);
    font-size: 14px;

    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
  }
}
