<section class="c-about">
    <div class="c-about__card d-flex justify-content-between">
        <div class="c-about__img-container col-6">
            <img class="c-about__img" src="./assets/images/cm-about.jpg" alt="image">
        </div>
        <div class="col-6">
            <h2 class="b-text b-text--title">Sobre mi</h2>
            <p class="b-text b-text--paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                scelerisque, risus et condimentum hendrerit, tortor velit rutrum arcu, nec consectetur nisl enim non
                dolor. Curabitur fermentum mauris ut dapibus vestibulum. Ut at blandit leo, at facilisis purus. Nunc
                vitae turpis non orci luctus tincidunt. Suspendisse nec aliquet lectus. Donec non nisi quis mauris
                pharetra tempor. Nulla sit amet gravida velit. Nam sodales sagittis lacinia. Aliquam vitae finibus
                lacus. Nunc tincidunt dui quis tempor facilisis. Praesent at semper augue. Curabitur fermentum eros vel
                sodales iaculis. In eu justo libero. In pellentesque egestas ex, non ultricies nisi volutpat et. Morbi
                pharetra velit sit amet tortor semper, eu viverra odio dapibus.</p>
            <p class="b-text b-text--paragraph">Nunc eros nibh, lacinia a lacus at, auctor blandit velit. Praesent
                gravida
                aliquam enim, ac fermentum mauris vehicula sed. Vivamus orci turpis, tristique ac sapien ultrices,
                cursus vestibulum nulla. Vestibulum ornare finibus ante, id suscipit urna. Pellentesque consequat augue
                sed luctus faucibus. Aliquam ornare dui est, a fringilla lorem euismod vel. Maecenas in commodo urna.
                Praesent aliquam, tellus et fermentum porta, nisl metus malesuada augue, sed dignissim sem nibh vel
                magna. Vivamus dapibus dapibus massa, ac iaculis urna ultrices at. Mauris ac nisl non augue convallis
                dictum nec et diam. Vivamus quis sapien volutpat, iaculis lorem id, molestie ante. Nulla sit amet felis
                non eros dapibus dictum. Vestibulum et dictum turpis. Fusce nulla odio, condimentum vitae gravida quis,
                pharetra at lorem.</p>
            <p class="b-text b-text--paragraph">Donec condimentum ultricies imperdiet. Vivamus sodales massa eget
                convallis varius. Duis pulvinar sem quis tortor porttitor, ac elementum ante feugiat. Pellentesque
                ligula velit, feugiat vitae luctus nec, varius id magna. In congue, urna a aliquet accumsan, ex justo
                pellentesque tortor, id dignissim sapien risus vitae neque. Mauris volutpat mi aliquam pellentesque
                consectetur. Quisque varius eu est ut cursus. Donec posuere metus sagittis diam scelerisque gravida.
                Proin sit amet mattis tellus, non tincidunt metus. Nullam tincidunt tincidunt eros sit amet facilisis.
                Duis molestie ante ipsum, scelerisque aliquam ante pharetra vel. Duis viverra ullamcorper quam. Proin
                volutpat dolor vitae sapien consectetur condimentum. Phasellus posuere nisl ut lacus congue pretium.</p>


        </div>

    </div>

</section>