:root {
  --color-primary-dark: rgb(212, 206, 201);
  --color-primary: rgb(226, 222, 219);
  --color-primary-active: rgb(255, 255, 255);
  --color-background: rgb(71, 69, 67);
  --color-text: rgb(27, 27, 27);
  --color-shadow-black: rgba(0, 0, 0, 0.4);
  --color-transparent-black: rgba(0, 0, 0, 0.8);
}
