:root {
  --color-primary-dark: rgb(212, 206, 201);
  --color-primary: rgb(226, 222, 219);
  --color-primary-active: rgb(255, 255, 255);
  --color-lighter-gray: rgb(196, 190, 187);
  --color-light-gray: rgb(139, 137, 136);
  --color-gray: rgb(100, 98, 97);
  --color-background: rgb(71, 69, 67);
  --color-text: rgb(27, 27, 27);
  --color-black: rgb(0, 0, 0);
  --color-shadow-black: rgba(0, 0, 0, 0.4);
  --color-transparent-black: rgba(0, 0, 0, 0.8);
  --color-transparent-black-dark: rgba(0, 0, 0, 0.85);
  --color-error: rgb(173, 26, 26);
}
