@font-face {
  font-family: "aileron-light";
  src: url("~/src/assets/fonts/aileron_0102/Aileron-Thin.otf");
  font-style: normal;
}

@font-face {
  font-family: "aileron";
  src: url("~/src/assets/fonts/aileron_0102/Aileron-Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: "firacode";
  src: url("~/src/assets/fonts/fira-code/FiraCode-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "fira";
  src: url("~/src/assets/fonts/firasans/firasans/firasans/FiraSans-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "quentin";
  src: url("~/src/assets/fonts/quentin_2/Quentin.otf");
  font-style: normal;
}

@font-face {
  font-family: "clemente";
  src: url("~/src/assets/fonts/clemente_pd/ClementePDae-Light.ttf");
  font-style: normal;
}

@font-face {
  font-family: "generica";
  src: url("~/src/assets/fonts/generica/Generica.otf");
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("~/src/assets/fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
}
