<section class="c-contact">
    <div class="c-contact__card d-flex justify-content-between">

        <div class="col-6">
            <h2 class="b-text b-text--title">Sobre mi</h2>
            <p class="b-text b-text--paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                scelerisque, risus et condimentum hendrerit, tortor velit rutrum arcu, nec consectetur nisl enim non
                dolor. Curabitur fermentum mauris ut dapibus vestibulum. Ut at blandit leo, at facilisis purus. Nunc
                vitae turpis non orci luctus tincidunt. Suspendisse nec aliquet lectus. Donec non nisi quis mauris
                pharetra tempor. Nulla sit amet gravida velit. Nam sodales sagittis lacinia. Aliquam vitae finibus
                lacus. Nunc tincidunt dui quis tempor facilisis. Praesent at semper augue. Curabitur fermentum eros vel
                sodales iaculis. In eu justo libero. In pellentesque egestas ex, non ultricies nisi volutpat et. Morbi
                pharetra velit sit amet tortor semper, eu viverra odio dapibus.</p>


        </div>

    </div>

</section>