<section class="c-contact d-flex justify-content-center">
    <div class="c-contact__card d-flex justify-content-center flex-column">

        <form [formGroup]="contactForm" (submit)="submitForm()"
            class="c-contact__form d-flex flex-column align-items-center">
            <h2 class="c-contact__title b-text b-text--title">Contacto</h2>
            <div class="c-contact__block d-flex justify-content-center">
                <!-- <label class="b-text b-text--title2" for="name">Nombre</label> -->
                <input formControlName="name" type="text" id="name" class="c-contact__input" placeholder="Nombre">
            </div>
            <span class="c-contact__error" *ngIf="submitted && contactForm.controls.name.errors">Nombre es un campo
                requerido y debe tener entre 2 y 30 caracteres</span>
            <div class="c-contact__block d-flex justify-content-center">
                <!-- <label class="b-text b-text--title2" for="email">Email</label> -->
                <input formControlName="email" type="email" id="email" class="c-contact__input" placeholder="Email">
            </div>
            <span class="c-contact__error" *ngIf="submitted && contactForm.controls.email.errors">Email es un campo
                requerido y debe tener formato de email (nombre@email.com) </span>

            <div class="c-contact__block d-flex justify-content-center">
                <!-- <label class="b-text b-text--title2" for="phone">Teléfono</label> -->
                <input formControlName="phone" type="text" id="telephone" placeholder="Teléfono"
                    class="c-contact__input">
            </div>
            <span class="c-contact__error" *ngIf="submitted && contactForm.controls.phone.errors">Teléfono es un campo
                que debe tener entre 9 y 12 caracteres </span>

            <div class="c-contact__block d-flex justify-content-center">
                <!-- <label class="b-text b-text--title2" for="comments">Comentarios</label> -->
                <textarea formControlName="comments" type="textarea" id="comments" class="c-contact__textarea"
                    placeholder="Comentarios"></textarea>
            </div>
            <span class="c-contact__error" *ngIf="submitted && contactForm.controls.comments.errors">Comentarios en un
                campo requerido y debe tener entre 5
                y 244
                caracteres </span>


            <input class="c-contact__submit" type="submit">


        </form>
        <div class="c-contact__social d-flex justify-content-center align-items-center">
            <a href="https://www.instagram.com/cesare_m_h/" target="_blank">
                <span class="b-icons__big b-icons__skin-dark icon-instagram"></span>
            </a>

            <a href="https://twitter.com/cesarmelia_" target="_blank">
                <span class="b-icons__big b-icons__skin-dark icon-twitter"></span>
            </a>
            <a href="https://github.com/Cesar-Melia" target="_blank">
                <span class="b-icons__big b-icons__skin-dark icon-github"></span>
            </a>
            <a href="https://gitlab.com/Cesar-Melia" target="_blank">
                <span class="b-icons__big b-icons__skin-dark icon-gitlab"></span>
            </a>
            <a href="https://www.linkedin.com/in/cesar-melia-herraiz" target="_blank">
                <span class="b-icons__big b-icons__skin-dark icon-linkedin2"></span>
            </a>
        </div>

    </div>

</section>