@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.c-contact {
  width: 100%;

  &__card {
    width: 1000px;
    background-color: var(--color-primary);
    padding: 70px 70px 30px 70px;
    margin: 120px 80px 20px 80px;
    box-shadow: 0px 4px 4px var(--transparent-black);
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      padding: 70px 35px 30px 35px;
      margin: 120px 40px 20px 40px;
    }
  }

  &__form {
    min-width: 400px;

    @include media-breakpoint-down(md) {
      min-width: 0;
    }
  }

  &__title {
    margin-bottom: 50px;
  }

  &__block {
    margin-top: 20px;
    width: 100%;
  }

  &__input {
    width: 400px;
    height: 30px;

    @include media-breakpoint-down(md) {
      width: 250px;
    }
  }

  &__textarea {
    max-width: 400px;
    min-width: 400px;
    min-height: 100px;
    max-height: 300px;

    @include media-breakpoint-down(md) {
      max-width: 250px;
      min-width: 250px;
      min-height: 100px;
      max-height: 300px;
    }
  }

  &__submit {
    width: 100px;
    margin-top: 30px;
    border-radius: 6px;
    border: solid 2px var(--color-primary);
    color: var(--color-primary-active);
    background-color: var(--color-gray);
    padding: 10px;

    &:hover {
      background-color: var(--color-light-gray);
      color: var(--color-primary-active);
    }
  }

  &__error {
    display: inline;
    color: var(--color-error);
  }

  &__social {
    margin-top: 100px;
    color: var(--color-text);
  }
}
